<?xml version='1.0' encoding='utf-8'?>
<widget id="work.xiey.build" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>一起去旅行</name>
    <description>测试客户端</description>
    <author email="1833505972@qq.com" href="https://xiey.work">
        队名外包了 Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#33000000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="http://schemas.microsoft.com/windows/apps/2015/index/webview/http" value="true" />

</widget>

