.touxiang {
  opacity: 1; /* 设置透明度为0.5 */
  position: relative;
  top: 50px;
  zoom: 160%;
  width: 100px; /* 设置宽度 */
  height: 100px; /* 设置高度 */
  left: 10%;
}
.ant-page-header.ant-page-header-ghost.css-dev-only-do-not-override-16pw25h {
  width: 100%;
}

body,
html {
  /*  overflow-x: hidden; */
  /* overflow-y: auto; */
  /* overflow: hidden; */
  /* overflow-y: auto; */
}

.ab1 {
  height: 150px;
}

.name {
}

.ab2 {
  top: 200px;
  position: relative;
}

.toolbox {
  position: fixed; /* 使toolbox固定在浏览器窗口的某个位置 */
  right: 10px; /* 距离右侧10像素 */
  bottom: 10px; /* 距离底部10像素 */
  z-index: 1000; /* 确保toolbox在其他内容之上 */
  background-color: #f0f0f0; /* 背景颜色 */
  border: 1px solid #ddd; /* 边框 */
  border-radius: 3px; /* 边框圆角 */
  padding: 5px; /* 内边距 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 阴影效果 */
  display: flex; /* 使用flex布局 */
  flex-direction: column; /* 垂直排列 */

  transition: opacity 0.3s; /* 过渡效果 */
}

.toolbox button {
  display: block; /* 使按钮竖直排列 */
  margin: 5px; /* 按钮之间的间隔 */
  padding: 5px; /* 按钮内的填充 */
  background-color: #f0f0f0; /* 背景颜色 */
  border: 1px solid #ddd; /* 边框 */
  border-radius: 3px; /* 边框圆角 */
  cursor: pointer; /* 鼠标悬停时显示指针 */
}
.toolbox text {
  display: block; /* 使按钮竖直排列 */
  margin: 5px; /* 按钮之间的间隔 */
  padding: 5px; /* 按钮内的填充 */
  background-color: #f0f0f0; /* 背景颜色 */

  border-radius: 3px; /* 边框圆角 */
}
.toolbox .counter {
  display: block; /* 使按钮竖直排列 */
  margin: 5px; /* 按钮之间的间隔 */
  padding: 5px; /* 按钮内的填充 */
  background-color: #f0f0f0; /* 背景颜色 */

  border-radius: 3px; /* 边框圆角 */
}
